@model SkyEntity.Notice
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "系统消息";
}
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="~/plugins/copper/css/cropper.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/copper/css/avatar.css" rel="stylesheet" type="text/css" />


}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新增 @ViewBag.title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            新增 @ViewBag.title
                        </h3>

                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Edit", "Notice", FormMethod.Post, new { @class = "form-horizontal", @name = "Create", @id = "Create" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model=>model.Id)
                        <div class="box-body">
                            <div class="col-md-12">


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Category, new { @class = "control-label col-sm-2" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.Category, ViewData["CategoryList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Category)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "标题最多允许64个字符，32个汉字" })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        <textarea id="Content" name="Content" style="height:500px;"></textarea>
                                        @Html.ValidationMessageFor(model => model.Content)
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Tags, new { @class = "form-control", @data_role = "tagsinput" })
                                    </div>
                                </div>

                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Cover, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-3">
                                        <img src="@Model.Cover" style="width:100%;border:1px solid #cccccc" id="CoverPhoto" />
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="hidden" name="Cover" id="Cover" value="@Model.Cover" />
                                        <button class="btn btn-default" id="coverImgBtn" type="button">
                                            选择文件
                                        </button>

                                        <p>建议尺寸700*600px，JPG、PNG格式， 图片小于5M。 </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.HrefUrl, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.HrefUrl, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Author, new { @class = "form-control", @Value = Model.Author })

                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Paixu, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Paixu, new { @class = "form-control", @Value = "0" })

                                    </div>
                                </div>

                                @Html.HiddenFor(model => model.CreateTime, new { @Value = DateTime.Now })

                            </div>


                        </div>

                    <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <button class="btn btn-default">取消</button>
                            <button type="submit" class="btn btn-primary pull-right">保存并发布</button>
                        </div>

                    }
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="img-container" style="width:870px;height:500px;">

                            <img id="image" src="@Model.Cover" alt="Picture">
                            @*<input id="imageaspectRatio" type="hidden" />*@
                        </div>

                    </div>


                </div>




            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="docs-buttons text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;zoom&quot;, 0.1)">
                                        <span class="fa fa-search-plus"></span> 放大
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;zoom&quot;, -0.1)">
                                        <span class="fa fa-search-minus"></span> 缩小
                                    </span>
                                </button>
                            </div>



                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;rotate&quot;, -45)">
                                        <span class="fa fa-rotate-left"></span> 左旋转
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;rotate&quot;, 45)">
                                        <span class="fa fa-rotate-right"></span> 右旋转
                                    </span>
                                </button>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;scaleX&quot;, -1)">
                                        <span class="fa fa-arrows-h"></span> 水平翻转
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;scaleY&quot;, -1)">
                                        <span class="fa fa-arrows-v"></span> 垂直翻转
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;reset&quot;)">
                                        <span class="fa fa-refresh"></span> 重置
                                    </span>
                                </button>
                            </div>
                            <div class="btn-group btn-group-crop">
                                <label class="btn btn-success btn-upload" for="inputImage" title="Upload image file">
                                    <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="点击上传图片">
                                        <span class="fa fa-upload"></span> 更换图片
                                    </span>
                                </label>
                                <button type="button" id="getCroppedCanvasbtn" class="btn btn-warning" data-method="getCroppedCanvas" data-option="{ &quot;width&quot;: 180, &quot;height&quot;: 180 }">
                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;getCroppedCanvas&quot;)">
                                        裁剪并上传
                                    </span>
                                </button>

                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <span data-toggle="tooltip">
                                    取消关闭
                                </span>
                            </button>

                        </div>
                    </div>
                    <!-- /.docs-buttons -->
                </div>
            </div>

        </div>
    </div>
</div>

@section BottomScripts {
    <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="~/plugins/copper/js/cropper.js"></script>
    <script type="text/javascript" src="~/plugins/copper/js/avatar.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyWeb.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyfileCopper.js"></script>
    <script type="text/javascript" src="~/Resource/js/SkyInit.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('Content');
        //  $('#imageaspectRatio').val('1.33333');
        $('#coverImgBtn').click(function () {
            $('#avatar-modal').modal('show');
            //这句的意思是将container的宽高值去掉，保证自适应效果。有个小bug是第一次使用的时候如果浏览器过小可能造成显示不完全。
            $(".img-container").removeAttr("style");

            $('#getCroppedCanvasbtn').attr('data-skyac', "cover");
        });
    </script>
}
